# Format: //devtools/kokoro/config/proto/build.proto

# Build logs will be here
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Store built wheels for audit/SBOM/dry-run inspection
action {
  define_artifacts {
    regex: "github/google-cloud-python/packages/google-crc32c/wheels/*.whl"
    strip_prefix: "github/google-cloud-python/packages/google-crc32c"
  }
}

