rebaseMergeAllowed: false
squashMergeAllowed: true
mergeCommitAllowed: false
branchProtectionRules:
- pattern: main
  isAdminEnforced: true
  requiredStatusCheckContexts:
    - 'style-check'
    - 'docs'
    - 'lint'
    - 'unit (3.7, cpp)'
    - 'unit (3.7, python)'
    - 'unit (3.7, upb)'
    - 'unit (3.8, cpp)'
    - 'unit (3.8, python)'
    - 'unit (3.8, upb)'
    - 'unit (3.9, cpp)'
    - 'unit (3.9, python)'
    - 'unit (3.9, upb)'
    - 'unit (3.10, cpp)'
    - 'unit (3.10, python)'
    - 'unit (3.10, upb)'
    - 'unit (pypy3.10, python)'
    - 'unit (3.11, python)'
    - 'unit (3.11, upb)'
    - 'unit (3.12, python)'
    - 'unit (3.12, upb)'
    - 'unit (3.13, python)'
    - 'unit (3.13, upb)'
    - 'unit (3.14, python)'
    - 'unit (3.14, upb)'
    - 'prerelease (3.14, python)'
    - 'prerelease (3.14, upb)'
    - cover
    - OwlBot Post Processor
    - 'cla/google'
  requiredApprovingReviewCount: 1
  requiresCodeOwnerReviews: true
  requiresStrictStatusChecks: true
permissionRules:
  - team: yoshi-python
    permission: push
  - team: actools
    permission: admin
  - team: actools-python
    permission: push
