# Format: //devtools/kokoro/config/proto/build.proto

# Only run this nox session.
env_vars: {
    key: "NOX_SESSION"
    value: "cleanup doctest"
}

# env_vars: {
#     key: "GOOGLE_CLOUD_PROJECT"
#     value: "..."
# }

# Override the build file to only run for bigframes.
env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "github/google-cloud-python/packages/bigframes/scripts/run_doctest.sh"
}