# Format: //devtools/kokoro/config/proto/build.proto

# Only run compliance nox session.
env_vars: {
    key: "NOX_SESSION"
    value: "compliance"
}

env_vars: {
    key: "PACKAGE_TEST_TIMEOUT"
    value: "120m"
}
