# Format: //devtools/kokoro/config/proto/build.proto

# Only run this nox session.
env_vars: {
    key: "NOX_SESSION"
    value: "system-3.12"
}

env_vars: {
  key: "BIGFRAMES_TEST_PROJECT"
  value: "bigframes-testing"
}
