# Format: //devtools/kokoro/config/proto/build.proto

# Increase timeout to 6 hours (default is 180 mins / 3 hours)
timeout_mins: 360

# Only run this nox session.
env_vars: {
    key: "NOX_SESSION"
    value: "system-3.12"
}

# Skip compliance tests in system job since they run in dedicated compliance job
env_vars: {
    key: "RUN_COMPLIANCE_TESTS"
    value: "false"
}
