click
# Testing branch cache-api-context
gapic-generator @ git+https://github.com/googleapis/gapic-generator-python@881a39b2dacf357d41baed87292380a17c15e46f
nox
starlark-pyo3>=2025.1
build
black==23.7.0
isort==5.11.0
