click
# Testing branch cache-api-context
gapic-generator @ git+https://github.com/googleapis/gapic-generator-python@81d9b5fa061d273476fe43794614f0ffa93d83b2
nox
starlark-pyo3>=2025.1
build
black==23.7.0
isort==5.11.0