# Code owners file.
# This file controls who is tagged for review for any given pull request.

# Default owner for all directories not owned by others
*                                             @googleapis/cloud-sdk-python-team @googleapis/cloud-sdk-librarian-team

/packages/google-auth/                        @googleapis/cloud-sdk-python-team @googleapis/cloud-sdk-librarian-team @googleapis/googleapis-auth @googleapis/aion-team
/packages/bigframes/                          @googleapis/cloud-sdk-python-team @googleapis/cloud-sdk-librarian-team @googleapis/bigquery-dataframe-team