[run]
branch = True

[report]
omit =
    _onestore_v3_pb2.py
fail_under = 100
show_missing = True
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
