[flake8]
exclude =
  # Datastore includes generated code in the manual layer;
  # do not lint this.
  google/cloud/datastore/_onestore_v3_pb2.py,

  # Standard linting exemptions.
  __pycache__,
  .git,
  *.pyc,
  conf.py
