[report]
omit =
    */demo/*
    */demo.py
    */_generated/*.py
    # Exclude the forked code until tests are complete.
    */_apitools/*.py
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
