[run]
branch = True

[report]
fail_under = 100
show_missing = True
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
omit =
  google/cloud/vision_v1/gapic/*.py
  google/cloud/vision_v1/proto/*.py
