gcp-docuploader
gcp-releasetool>=1.10.5 # required for compatibility with cryptography>=39.x
cryptography>=39.0.1
importlib-metadata
typing-extensions
twine
wheel
setuptools
nox
charset-normalizer<3
pip-tools
