# Format: //devtools/kokoro/config/proto/build.proto

# Only run this nox session.
env_vars: {
    key: "NOX_SESSION"
    value: "unit_prerelease system_prerelease system_noextras e2e notebook samples"
}
