{
  "client_id": "my-project",
  "client_email": "some-account@developer.gserviceaccount.com",
  "private_key": "-----BEGIN PRIVATE KEY-----\nSome Private Key Text\n-----END PRIVATE KEY-----\n",
  "private_key_id": "your-key-id",
  "type": "service_account"
}
