name: "Lint"

on:
  pull_request:
    branches:
      - main

jobs:
  run-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Install nox
      run: |
        python -m pip install --upgrade setuptools pip wheel
        python -m pip install nox
    - name: Run lint
      run: |
        nox -s lint
    - name: Run lint_setup_py
      run: |
        nox -s lint_setup_py
