[run]
branch = True

[report]
show_missing = True
omit =
    maps/fleetengine/delivery/__init__.py
    maps/fleetengine/delivery/gapic_version.py
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
