# Format: //devtools/kokoro/config/proto/build.proto

# Download secrets from Cloud Storage.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/google-auth-library-python"

# Tell the trampoline which build file to use.
env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "github/google-auth-library-python/.kokoro/system_tests.sh"
}

# Tell the system tests which Google Cloud project to use.
env_vars: {
    key: "TEST_PROJECT"
    value: "python-docs-samples-tests"
}
