# Install the build dependencies of the project. If some dependencies contain
# compiled extensions and are not provided as pre-built wheel packages,
# pip will build them from source using the MSVC compiler matching the
# target Python version and architecture
wheel
https://github.com/lukesneeringer/nox/archive/fixrel-take-2.zip
# nox-automation==0.11.2
