# Format: //devtools/kokoro/config/proto/build.proto

# Only run these nox sessions.
env_vars: {
    key: "NOX_SESSION"
    value: "e2e system_prerelease notebook system_noextras"
}

env_vars: {
  key: "BIGFRAMES_TEST_PROJECT"
  value: "bigframes-load-testing"
}
