sudo: false

language: python

env:
  - PYTHON=2.7 PANDAS=0.19.2 COVERAGE='false' LINT='true'
  - PYTHON=3.5 PANDAS=0.18.1 COVERAGE='true' LINT='false'
  - PYTHON=3.6 PANDAS=0.20.1 COVERAGE='false' LINT='false'
  - PYTHON=3.6 PANDAS=MASTER COVERAGE='false' LINT='true'

before_install:
  - echo "before_install"
  - source ci/travis_process_gbq_encryption.sh

install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels pandas
  - conda config --add channels conda-forge
  - conda update -q conda
  - conda info -a
  - conda create -n test-environment python=$PYTHON
  - source activate test-environment
  - if [[ "$PANDAS" == "MASTER" ]]; then
      conda install numpy pytz python-dateutil;
      PRE_WHEELS="https://7933911d6844c6c53a7d-47bd50c35cd79bd838daf386af554a83.ssl.cf2.rackcdn.com";
      pip install --pre --upgrade --timeout=60 -f $PRE_WHEELS pandas;
    else
      conda install pandas=$PANDAS;
    fi
  - pip install coverage pytest pytest-cov flake8 codecov
  - REQ="ci/requirements-${PYTHON}-${PANDAS}"
  - if [ -f "$REQ.pip" ]; then
      pip install -r "$REQ.pip";
    else
      conda install --file "$REQ.conda";
    fi
  - conda list
  - python setup.py install

script:
  - pytest -s -v --cov=pandas_gbq --cov-report xml:/tmp/pytest-cov.xml pandas_gbq
  - if [[ $COVERAGE == 'true' ]]; then codecov ; fi
  - if [[ $LINT == 'true' ]]; then flake8 pandas_gbq -v ; fi
