# Format: //devtools/kokoro/config/proto/build.proto

# Tell Kokoro where to find our fake test log so it doesn't 404
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Bypass the trampoline entirely and run our dummy script natively
build_file: "google-cloud-python/packages/google-crc32c/scripts/bypass.sh"