[run]
branch = True

[report]
show_missing = True
omit =
    google/cloud/data_fusion/__init__.py
    google/cloud/data_fusion/gapic_version.py
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
