[run]
branch = True
source =
  google.cloud.pubsub
  google.cloud.pubsub_v1
  tests.unit

[report]
show_missing = True

exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
    # Ignore abstract methods
    raise NotImplementedError
