setuptools >= 36.4.0
sphinx >= 1.6.3

core/
bigquery/
bigtable/
datastore/
dns/
language/
logging/
error_reporting/
monitoring/
pubsub/
resource_manager/
runtimeconfig/
spanner/
speech/
storage/
trace/
translate/
videointelligence/
vision/
