setuptools >= 36.4.0
sphinx >= 1.6.3
ipython >= 4
recommonmark >= 0.4.0

-e api_core/
-e core/
-e storage/
-e asset/
-e automl/
-e bigquery/
-e bigquery_datatransfer/
-e bigtable/
-e container/
-e dataproc/
-e datastore/
-e dlp/
-e dns/
-e firestore/
-e iot/
-e kms/
-e language/
-e logging/
-e error_reporting/
-e monitoring/
-e pubsub/
-e oslogin/
-e redis/
-e resource_manager/
-e runtimeconfig/
-e spanner/
-e speech/
-e tasks/
-e texttospeech/
-e trace/
-e translate/
-e videointelligence/
-e vision/
-e websecurityscanner/
