name: "Unit tests"

on:
  pull_request:
    branches:
      - main

jobs:
  run-unittests:
    name: unit${{ matrix.option }}-${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        option: ["", "_grpc_gcp", "_wo_grpc", "_with_prerelease_deps"]
        python:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        exclude:
          - option: "_wo_grpc"
            python: 3.7
          - option: "_wo_grpc"
            python: 3.8
          - option: "_wo_grpc"
            python: 3.9
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
    - name: Install nox
      run: |
        python -m pip install --upgrade setuptools pip wheel
        python -m pip install nox
    - name: Run unit tests
      env:
        COVERAGE_FILE: .coverage${{ matrix.option }}-${{matrix.python }}
      run: |
        nox -s unit${{ matrix.option }}-${{ matrix.python }}
    - name: Upload coverage results
      uses: actions/upload-artifact@v4
      with:
        name: coverage-artifact-${{ matrix.option }}-${{ matrix.python }}
        path: .coverage${{ matrix.option }}-${{ matrix.python }}

  report-coverage:
    name: cover
    runs-on: ubuntu-latest
    needs:
        - run-unittests
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install coverage
      run: |
        python -m pip install --upgrade setuptools pip wheel
        python -m pip install coverage
    - name: Download coverage results
      uses: actions/download-artifact@v4
      with:
        path: .coverage-results/
    - name: Report coverage results
      run: |
        find .coverage-results -type f -name '*.zip' -exec unzip {} \;
        coverage combine .coverage-results/**/.coverage*
        coverage report --show-missing --fail-under=100
