#gc-logo img {
  width: 280px;
  top: -20px;
  left: -20px;
}

.gc-search {
  left: 320px;
}

body.two-column #gc-content {
  margin-left: 206px;
}

body.two-column #gc-sidebar {
  width: 190px;
}

/* Clearfix for the services floating. */
.section#services:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.service.topic {
  width: 33%;
  height: 340px;
  float: left;
  text-align: center;
}

.service.topic .topic-title {
  margin-bottom: 0;
  font-size: 167%;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 600;
}

.service.topic img {
  width: 160px;
}

.service.topic ul {
  list-style-type: none;
  font-size: 110%;
  line-height: 200%;
}

.service.topic ul li a, .service.topic ul li a em {
  font-style: normal;
}

body.docs table th.field-name {
  vertical-align: top;
  width: 80px;
}

.first.admonition-title {
  margin: 0 4px 0 0;
  float: left;
  font-weight: bold;
}

.admonition {
  margin-bottom: 1em;
}

a.headerlink {
  visibility: hidden;
  padding: 0 4px 0 4px;
  text-decoration: none;
  font-size: 0.8em;
}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink {
  visibility: visible;
}

body.docs h2, body.docs h3, body.docs h4, body.docs h5, body.docs h6 {
  margin-top: 0.5em;
  padding-top: 1em;
}

.viewcode-link {
  float: right;
}

footer {
  color: #fff;
}

