on:
  pull_request:
    branches:
      - main
  # Trigger workflow on GitHub merge queue events
  # See https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository
  merge_group:
    types: [checks_requested]
name: lint

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      # Use a fetch-depth of 2 to avoid error `fatal: origin/main...HEAD: no merge base`
      # See https://github.com/googleapis/google-cloud-python/issues/12013
      # and https://github.com/actions/checkout#checkout-head.
      with:
        fetch-depth: 2
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install nox
      run: |
        python -m pip install --upgrade setuptools pip wheel
        python -m pip install nox
    - name: Run lint
      env:
        BUILD_TYPE: presubmit
        TEST_TYPE: lint
        PY_VERSION: "3.10"
      run: |
        ci/run_conditional_tests.sh
    - name: Run lint_setup_py
      env:
        BUILD_TYPE: presubmit
        TEST_TYPE: lint_setup_py
        PY_VERSION: "3.10"
      run: |
        ci/run_conditional_tests.sh
